@import "ext/fonts";
@import "ext/normalize";
@import "syntax";

$linkColor: #0a59b0;
$mobileW: 768px;
$smallMobileW: 480px;
$bigScreenW: 1600px;
$leftWidth: 220px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

// Dark mode
:root {
  --background-color: #ffffff;
  --title-name-link-colour: #000;
  --tagline: #aaa;
  --page-text: #222222;
  --border-bottom: #ececec;
  --category-box: #e3e3e3;
  --post-date-colour: #555;
  --title-underline: #eee;
  --secondary-colour: #777;
  --code-highlight: #f4f4f4;
  --post-category: #000;
}

[data-theme="dark"] {
  --background-color: #110f0f;
  --title-name-link-colour: rgb(211, 211, 211);
  --tagline: rgb(70, 70, 70);
  --page-text: #b6b6b6;
  --border-bottom: #202020;
  --category-box: #333333;
  --post-date-colour: rgb(206, 206, 206);
  --title-underline: rgb(39, 39, 39);
  --secondary-colour: rgb(175, 175, 175);
  --code-highlight: #222222;
  --post-category: #fff;
}

// Dark mode button
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;

  em {
    margin-left: 10px;
    font-size: 1rem;
    color: var(--page-text); 
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;

}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// Page
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  color: var(--title-name-link-colour);
  transition: color 0.3s;
  &:hover {
    color: $linkColor;
  }
}

h2 {
  margin: 0.7em 0;
}
main {
  margin: 0 90px;
  display: flex;
  height: 100%;

  @media screen and (min-width: $bigScreenW) {
    margin: 0 auto;
    max-width: 1440px;
  }
  @media screen and (max-width: 1280px) {
    margin: 0 75px;
  }
  @media screen and (max-width: 1024px) {
    margin: 0 35px;
  }

  @media screen and (max-width: $mobileW) {
    margin: 0 10px;
    flex-direction: column;
  }
  @media screen and (max-width: $smallMobileW) {
    margin: 0;
  }

  .content {
    @media screen and (min-width: $mobileW + 1) {
      max-width: calc(100% - #{$leftWidth});
      margin-left: $leftWidth;
      width: 100%;
    }
  }
  .about {
    display: flex;
    height: 100vh;
    padding-bottom: 15vh;
    @media screen and (max-width: $mobileW) {
      height: auto;
      padding: 10vh 0;
    }
    @media screen and (min-width: $mobileW + 1) {
      position: fixed;
    }
    min-width: $leftWidth;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 22px;
      margin-top: 25px;
      margin-bottom: 0;
      color: var(--page-text);
      font-weight: normal;
    }
    .tagline {
      font-size: 22px;
      margin-top: 17px;
      color: var(--tagline);
      white-space: pre-wrap;
      line-height: normal;
    }
    img {
      max-width: 150px;
    }
  }
}
#title {
  a {
    text-decoration: none;
  }
}
.social {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  li {
    float: left;
    i {
      font-size: 34px;
    }
  }
}

.navigation {
  width: 80%;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;

    li:last-child {
      a {
        border-bottom: 0;
      }
    }

    a {
      display: block;
      font-family: 'Merriweather';
      text-align: center;
      padding: 1rem 0;
      text-decoration: none;
      border-bottom: 1px solid var(--border-bottom);

      @media screen and (max-width: $mobileW) {
        padding: 2rem 0;
      }
    }
  }
}

.post-wrapper {
  border-bottom: 1px solid var(--border-bottom);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.post-categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--post-category);
  li {
    font-size: 14px;
    float: left;
    background-color: var(--category-box);
    padding: 5px 20px;
    border-radius: 2px;
    @media screen and (max-width: $mobileW) {
      margin-top: 5px;
    }
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.post-date {
  margin-right: 10px;
  color: var(--post-date-colour);
  min-width: 150px;
}
.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $mobileW) {
    flex-direction: column-reverse;
    align-items: baseline;
    .post-date {
      margin-bottom: 16px;
    }
  }
}
.post-link {
  text-decoration: none;
}

.post-title {
  line-height: 1.2em;
  font-size: 28px;
}
.base-layout,
.base-container {
  list-style-type: none;
  margin: 45px 30px;
  @media screen and (max-width: $smallMobileW) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and (max-width: $mobileW) {
    padding: 0 !important;
    margin-top: 0;
  }
}
.base-container {
  padding-left: 30px;
}
.post {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  color: var(--page-text);
  line-height: 1.9em;
  a {
    color: $linkColor;
    text-decoration: none;
    transition: border-bottom 0.4s;
    &:hover {
      border-bottom: 0.5px solid $linkColor;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Raleway, sans-serif;
  }
}

#page-label {
  border-bottom: 1px solid var(--title-underline);
  font-size: 15px;
  color: var(--secondary-colour);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  font-weight: normal;
}

.commit-chart-container{
  text-align: center;
  padding-top: 30px;
}


.book-images{
  max-width: 100%;
  max-height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  padding-bottom: 25px;
  object-fit: scale-down;
  transition: transform .2s
}


.book-images:hover{
  transform: scale(1.2);
}

.job-title{
  text-align: center;
  font-family: "Merriweather", sans-serif;
  text-decoration: underline;
}

.comms-button-wrapper{
  text-align: center;
}

.comms-button{
  display: inline-block;
  padding: 0.5em 1.7em;
  border: 0.1em solid var(--secondary-colour);
  margin: 0 0.3em 0.3em 0;
  border-radius: 1.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  color: var(--secondary-colour);
  text-align: center;
  transition: all 0.2s;
  background-color: var(--background-color);
}

.comms-button:hover{
  color: var(--background-color);
  background-color: var(--secondary-colour);
}


.employment-header{
  padding-top: 15px;
  border-bottom: 1px solid var(--title-underline);
  font-family: Raleway, sans-serif;
}

.cv-listing{
  font-family: Raleway, sans-serif;
}

.introduction-container{
  padding-top: 30px;
  margin: 0 auto;
  width: 90%;
  color: var(--page-text);
}

.employment-container{
  margin: 0 auto;
  width: 90%;
  color: var(--page-text);
}

.cv-listing{
  display: flex;
  font-family: Raleway, sans-serif;
}

.company-details{
  width: 220px;
}

.job-description{ 
  flex: 1 1 0px;
}
