---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="base-layout">
  <li>
    <h1 id="page-label">Blog</h1>
  </li>

  <div class="post-content-container">
    <div class="search-form">
      {% assign filename = "/search.html" %}
      <form action="{{ site.baseurl | append: filename }}" method="get" class="search">
        <input type="text" id="search-box" name="query" placeholder="Search here...">
        <button type="submit">Search</button>
      </form>
    </div>

      {%- for post in paginator.posts -%}
        <li>
          {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
          <a class="post-link" href="{{ post.url | relative_url }}">
            <h2 class="post-title">{{ post.title | escape }}</h2>
          </a>
          <div class="post-meta">
            <ul class="post-categories">
              {%- for tag in post.categories -%}
                <li>{{ tag }}</li>
              {%- endfor -%}
            </ul>
            <div class="post-date">
              <i class="icon-calendar"></i>
              {{ post.date | date: date_format }}</div>
          </div>
          <div class="post">
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </div>
        </li>
      {%- endfor -%}
    </ul>
    
    <!-- pagination -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="webjeda">{{ page }}</span>
        {% elsif page == 1 %}
          <a href="/">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
    <p class="feed-subscribe">
      <a href="{{ "/feed.xml" | relative_url }}">Subscribe via RSS!</a>
    </p>
  </div>
{%- endif -%}
</ul>