---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="base-layout">
  <li>
    <h1 id="page-label">Blog</h1>
  </li>

  <div class="post-content-container">
    {% assign filename = "/search.html" %}
    <form action="{{ site.baseurl | append: filename }}" method="get">
      <label for="search-box">Search</label>
      <input type="text" id="search-box" name="query">
      <input type="submit" value="search">
    </form>

      {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
          <a class="post-link" href="{{ post.url | relative_url }}">
            <h2 class="post-title">{{ post.title | escape }}</h2>
          </a>
          <div class="post-meta">
            <ul class="post-categories">
              {%- for tag in post.categories -%}
                <li>{{ tag }}</li>
              {%- endfor -%}
            </ul>
            <div class="post-date">
              <i class="icon-calendar"></i>
              {{ post.date | date: date_format }}</div>
          </div>
          <div class="post">
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>

  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
</ul>