---
layout: default
---
<ul class="base-layout">
  <li>
    <h1 id="page-label">Home</h1>
  </li>

  <div class="introduction-container">
    <h2 class="job-title">Site Reliabilty Engineer</h2>
  </div>
  <div class="personal-summary">
    <p>Site Reliability Engineer with 3+ years of proffesional hands-on experience automating, creating, maintaining, and supporting multi-environment platforms, infrastructure and services at scale - whilst trying to push correct SRE methodolgies along the way.</p>
    <p>I have a real passion for all thing SRE, and this website was set up to enable me to track my own development journey (and hopefully help a few others out along the way).</p>
  </div>

  <section class="content-section">
    <header class="section-header">
      <h2>Experience</h2>
    
    <div class="cv-listing">
      <h3>YOOX Net-a-Porter Group</h3>
      <h4>DevOps Engineer</h4>
      <h5>April 2020 - present</h5>
    </div>
    <div class="cv-listing">
      <h3>Sky Group</h3>
      <h4>Site Reliability Engineer</h4>
      <h5>June 2016 - April 2020</h5>
    </div>
  </section>


</ul>

