---
layout: default
---
<ul class="base-layout">
  <li>
    <h1 id="page-label">Home</h1>
  </li>

  <div class="commit-chart-container">
    <img src="http://ghchart.rshah.org/AlexMussell" alt="Alexander Mussell personal account commit history." />
  </div>


  <div class="introduction-container">
    <h2 class="job-title">Computer Stuff</h2>
    <div class="personal-summary">
      <p>Site Reliability Engineer with 3+ years of profesional hands-on experience automating, creating, maintaining, and supporting multi-environment platforms, infrastructure and services at scale - whilst trying to push correct SRE methodolgies along the way.</p>
      <p>I have a real passion for all thing SRE, and this website was set up to enable me to track my own development journey (and hopefully help a few others out along the way).</p>
    </div>
  </div>

  <div class="comms-button-wrapper">
    <a href="mailto:alex@alexandermussell.com?subject=Enquiry for Alexander Mussell.">
      <button class="comms-button">EMAIL ME</button>
    </a>
  </div>

  <div class="employment-container">
    <section class="content-section">
      <header class="employment-header">
        <h3>Employment History</h3>
      </header>
      <div class="cv-listing">
        <div class="company-details">
          <h4>YOOX Net-a-Porter Group</h4>
          <h5>DevOps Engineer</h5>
          <h6>April 2020 - present</h6>
        </div>
        <div class="job-description">
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>
      <div class="cv-listing">
        <div class="company-details">
          <h4>Sky Group</h4>
          <h5>Site Reliability Engineer</h5>
          <h6>June 2016 - April 2020</h6>
        </div>
        <div class="job-description">
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>
    </section>
  </div>


  <div class="comms-button-wrapper">
    <a href="/assets/cv/alexander-mussell.pdf" download="">
      <button class="comms-button">DOWNLOAD CV</button>
    </a>
  </div>
</ul>

