---
layout: default
---
<ul class="base-layout">
  <li>
    <h1 id="page-label">Home</h1>
  </li>

  <div class="commit-chart-container">
    <img src="https://ghchart.rshah.org/AlexMussell" alt="Alexander Mussell personal account commit history." />
  </div>

  
  <div class="introduction-container">
    <h2 class="job-title">Containerise, Automate, Script, Repeat.</h2>
    <div class="personal-summary">
      <p>Site Reliability Engineer by day, Developer by night. 3+ years of professional hands-on experience automating, creating, maintaining, and supporting multi-environment platforms, infrastructure and services at scale - whilst trying to push correct SRE methodologies along the way.</p>
      <p>This website was set up to enable me to track my own personal development journey (and hopefully help a few others out along the way).</p>
      <p>Currently making good progress on the 'commit-per-day' challenge for the year on personal projects.</p>
    </div>
  </div>

  <div class="comms-button-wrapper">
    <a href="mailto:alex@alexandermussell.com?subject=Enquiry for Alexander Mussell.">
      <button class="comms-button">EMAIL ME</button>
    </a>
  </div>

  <div class="employment-container">
    <section class="content-section">
      <header class="employment-header">
        <h3>Employment History</h3>
      </header>
      <div class="cv-listing">
        <div class="company-details">
          <h4>YOOX Net-a-Porter Group</h4>
          <h5>DevOps Engineer</h5>
          <h6>April 2020 - present</h6>
        </div>
        <div class="job-description">
          <p>
            To be updated soon.
          </p>
        </div>
      </div>
      <div class="cv-listing">
        <div class="company-details">
          <h4>Sky Group</h4>
          <h5>Site Reliability Engineer</h5>
          <h6>June 2016 - April 2020</h6>
        </div>
        <div class="job-description">
          <p>
            As a Site Reliability Engineer on the Nimbus team, I developed, maintained, and supported Sky's multiple internal, private cloud, open-source CloudFoundry deployments and services. Our largest deployment hosted over 1000 front and backend applications, with over 40 teams, and hundreds of users. The most recent project was to redesign, redeploy, and migrite our old platform and services off of using dedicated networking hardware, to our entire estate being IaC using NSXT.
          </p>
        </div>
      </div>
    </section>
  </div>


  <div class="comms-button-wrapper">
    <a href="/assets/cv/alexander-mussell.pdf" download="">
      <button class="comms-button">DOWNLOAD CV</button>
    </a>
  </div>
</ul>

