---
layout: default
---

<ul class="base-layout">
    <li>
      <h1 id="page-label">Reading List</h1>
    </li>

</ul>
<div class="base-container">
  <a href="https://www.amazon.co.uk/Beyond-Good-Evil-Friedrich-Nietzsche/dp/1497415764"><img class="book-images" src="{{ "/assets/reading-list/beyond-good-and-evil.jpg" | relative_url }}" alt="Beyond Good and Evil"></a> 
  <a href="https://www.amazon.co.uk/Crime-Punishment-selected-Notebooks-Wordsworth/dp/1840224304"><img class="book-images" src="{{ "/assets/reading-list/crime-and-punishment.jpg" | relative_url }}" alt="Crime and Punishment"></a> 
  <a href="https://www.amazon.co.uk/Ordinary-Men-Revised-Battalion-Solution/dp/0062303023"><img class="book-images" src="{{ "/assets/reading-list/ordinary-men.jpg" | relative_url }}" alt="Ordinary Men"></a> 
  <a href="https://www.amazon.co.uk/Archetypes-Collective-Unconscious-Collected-Works/dp/0415058449"><img class="book-images" src="{{ "/assets/reading-list/architypes-collective-unconcious.jpg" | relative_url }}" alt="Archetypes and the Collective Unconcious"></a> 
  <a href="https://www.amazon.co.uk/Animal-Farm-Penguin-Modern-Classics/dp/0141182709"><img class="book-images" src="{{ "/assets/reading-list/animal-farm.jpg" | relative_url }}" alt="Animal Farm"></a> 
  <a href="https://www.amazon.co.uk/Animal-Farm-Penguin-Modern-Classics/dp/0141182709"><img class="book-images" src="{{ "/assets/reading-list/fluent-python.jpg" | relative_url }}" alt="Fluent Python"></a> 
</div>

